@import "tailwindcss";

:root {
  --main-background: #f5f7fa;
  --akzentcolor: #4caf4f;
  --h-color: #4d4d4d; /*Überschriften*/
  --text-color: #302e2e; /* Normaler Text */
  --header-text-color: #18191f; /* Header Text Farbe (Nexcent)*/
  --link-header-color: #18191f; /* Link Farbe im Header */
  --foreground: #000000;
  --card-background: #ffffff;
  --border-color: #e5e7eb;
  --header-background: #f5f7fa; /* Header Hintergrundfarbe */
}

.dark {
  --main-background: #1a1a1a; /*Dunkler Hintergrund*/
  --akzentcolor: #4caf4f; /*Akenzentfarbe bleibt gleich*/
  --h-color: #f5f7fa; /*Überschriften*/
  --h1-color: #f5f7fa; /*Überschriften*/
  --text-color: #e5e5e5; /*Helle Überschriften */
  --header-text-color: #fcfbfb; /* Nexcent wird weiß (Nexcent)*/
  --link-header-color: #ececec; /* Link Farbe im Header wird weiß */
  --foreground: #ffffff;
  --card-background: #121212;
  --border-color: #374151;
  --header-background: #444343; /* Dunkler Header  */
}

@theme inline {
  --background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--color-background);
  color: var(--text-color);
  font-family: var(--font-sans), sans-serif;
  transition: background-color 0.3s, color 0.3s; /* Smoth Transition */
}

h1,
h2,
h3 {
  color: var(--h-color);
}
h2{
  font-size: 44px;
  font-weight: bold;
}
h3{
  font-size: 26px;
  font-weight: bold;
}
h4{
  color: var(--akzentcolor);
  font-weight: 800;
  font-size: 20px;
}



p{
  font-size: 14;
}

/* Automatische Dark Mode Erkennung (Fallback) */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a /*Dunkler Hintergrund*/;
    --foreground: #ededed;
  }
}
